<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlProvider" providerName="System.Data.ProviderName"
         connectionString="Data Source=DESKTOP-NK89RBK\SQLEXPRESS;  Initial Catalog=SpaceDesigner;Integrated Security=True;Pooling=True"/>
  </connectionStrings>
</configuration>